<%- include('partials/header', {title: title}) %>

        <div class="row">
            <div class="col-12">
                <h2>Dashboard Admin</h2>
                <p class="lead text-gray">Selamat datang, <%= user.username %>! - Bengkel Lam Jaya Motor</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">Data Stok Barang</h5>
                        <p class="card-text">Kelola data stok barang bengkel</p>
                        <a href="/stok/barang" class="btn btn-light">Kelola Stok</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-success">
                    <div class="card-body">
                        <h5 class="card-title">Laporan Pemasukan</h5>
                        <p class="card-text">Kelola data pemasukan bengkel</p>
                        <a href="/laporan/pemasukan" class="btn btn-light">Lihat Pemasukan</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title">Laporan Pengeluaran</h5>
                        <p class="card-text">Kelola data pengeluaran bengkel</p>
                        <a href="/laporan/pengeluaran" class="btn btn-light">Lihat Pengeluaran</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 mb-4">
                <div class="card text-white bg-info">
                    <div class="card-body">
                        <h5 class="card-title">Riwayat Transaksi</h5>
                        <p class="card-text">Lihat gabungan semua transaksi</p>
                        <a href="/laporan/riwayat" class="btn btn-light">Lihat Riwayat</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mb-4">
                <div class="card text-white bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Logout</h5>
                        <p class="card-text">Keluar dari sistem admin</p>
                        <a href="/logout" class="btn btn-light">Logout</a>
                    </div>
                </div>
            </div>
        </div>

<%- include('partials/footer') %>